@model IEnumerable<RangersOfShadowDeep.Models.IRanger>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Roster of Rangers</h1>

<p>
    <a asp-action="Create">Create a new ranger</a>
</p>

<div>
    @foreach (var item in Model)
    {
        <partial name="~/Views/Shared/_RangerStatBlock.cshtml" model=item />
        <div class="row">
            <div class="col-1">@Html.ActionLink("Edit", "Edit", new {id=item.Id})</div>
            <div class="col-1">@Html.ActionLink("Details", "Details", new {id=item.Id}) </div>
            <div class="col-1">@Html.ActionLink("Delete", "Delete", new {id=item.Id})</div>
        </div>
    }
</div>