@{
    ViewData["Title"] = "ROSD Assistant";
}

<div class="text-center">
    <h1 class="display-4">Rangers of Shadow Deep</h1>
    <p>This application helps in managing the paperwork associated with playing Rangers of Shadow Deep.</p>
</div>
